<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Rest_API_Sprint1_Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7f66c4">  <td>24/02/12 15:12:28</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PATCH_TestCase_1.executor()[pri:0, instance:Test_Package.PATCH_TestCase_1@24569dba]">executor</td> 
  <td>main@1930240356</td>   <td></td> </tr>
<tr bgcolor="a47576">  <td>24/02/12 15:12:22</td>   <td>-6113</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GET_TestCase_1.executor()[pri:0, instance:Test_Package.GET_TestCase_1@31ea9581]">executor</td> 
  <td>main@1930240356</td>   <td></td> </tr>
</table>
