<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a47576">  <td>24/02/11 10:12:20</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="POST_TestCase_1.executor()[pri:0, instance:Test_Package.POST_TestCase_1@31ea9581]">executor</td> 
  <td>main@1323434987</td>   <td></td> </tr>
<tr bgcolor="7f66c4">  <td>24/02/11 10:12:29</td>   <td>9089</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PATCH_TestCase_1.executor()[pri:0, instance:Test_Package.PATCH_TestCase_1@24569dba]">executor</td> 
  <td>main@1323434987</td>   <td></td> </tr>
<tr bgcolor="67e3f6">  <td>24/02/11 10:12:31</td>   <td>11684</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PUT_TestCase_1.executor()[pri:0, instance:Test_Package.PUT_TestCase_1@38467116]">executor</td> 
  <td>main@1323434987</td>   <td></td> </tr>
<tr bgcolor="cb6996">  <td>24/02/11 10:12:31</td>   <td>10920</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GET_TestCase_1.executor()[pri:0, instance:Test_Package.GET_TestCase_1@431cd9b2]">executor</td> 
  <td>main@1323434987</td>   <td></td> </tr>
</table>
