<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Rest_API_Sprint2_Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="abcebf">  <td>24/02/12 10:51:02</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="POST_TestCase_1.Post_Executor(java.lang.String,java.lang.String)[pri:0, instance:TestClass_TestngFileParameterization.POST_TestCase_1@72bc6553]">Post_Executor</td> 
  <td>main@106999035</td>   <td></td> </tr>
<tr bgcolor="abcebf">  <td>24/02/12 10:51:10</td>   <td>7737</td> <td>&nbsp;</td><td title="&lt;&lt;POST_TestCase_1.Test_Teardown()[pri:0, instance:TestClass_TestngFileParameterization.POST_TestCase_1@72bc6553]">&lt;&lt;Test_Teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@106999035</td>   <td></td> </tr>
<tr bgcolor="abcebf">  <td>24/02/12 10:51:00</td>   <td>-1842</td> <td>&nbsp;</td><td title="&gt;&gt;POST_TestCase_1.test_setup()[pri:0, instance:TestClass_TestngFileParameterization.POST_TestCase_1@72bc6553]">&gt;&gt;test_setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@106999035</td>   <td></td> </tr>
</table>
